@charset "UTF-8";

/* Scaffolding and type
 ================================================== */
html {
  font-size: 16px;
}

@media (min-width: 720px) {
  html {
    font-size: 20px;
  }
}

body {
  margin: 0;
  font: 1rem/1.5 "Open Sans", sans-serif;
  color: #333;
}

.container {
  min-height: 75vh;
  width: 60rem;
  margin: 0 auto;
}

header {
  text-align: center;
}