<footer class="empty-content-full-height">
  <p>WEFT 90.1 fm  &middot; 113 N Market St, Champaign, IL 61820  &middot; P.O. Box 1223, Champaign, IL 61824  &middot; 217-359-9338  &middot; <a href="mailto:stationmanager@weft.org">StationManager@weft.org</a></p>
  <ul>
    <li><a href="https://twitter.com/WEFTradio"><i class="fa fa-twitter-square"></i> WEFT on Twitter</a></li>
    <li><a href="https://www.facebook.com/weftcommunityradio"><i class="fa fa-facebook-square"></i> WEFT on Facebook</a></li>
  </ul>
</footer>

<!-- end user-viewable page content, begin javascript -->