<header>
  <nav>
    <div class="nav">
      <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
          <li><a href="/">WEFT</a></li>
          <li><a href="/listen">Listen Live</a></li>
          <li><a href="/support">Support WEFT</a></li>
          <li><a href="/spins">Recent Spins</a></li>
          <li><a href="/shows">Shows</a></li>
          <li><a href="/partners">Community Partners</a></li>
          <li><a href="/jobs">Jobs</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="pure-g-r">
    <div class="pure-u-5-5">
      <h1 class="main-title">WEFT 90.1 fm</h1>
      <h2 class="main-sub-title">listener-supported, volunteer operated, community radio since 1981</h2>
    </div>
  </div>
</header>