<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Bree+Serif">
    <title>slider as monthly calendar</title>
    <meta name="description" content="Sandboxing making an html5 calendar for weft (instead of the current iframe googledoc)">
    <meta name="author" content="Lorri Coey">
    <meta name="author" content="Bob Paleczny">
    <meta name="author" content="Brian Zelip">
    <meta name="keywords" content="sandbox, weft, slider, calendar">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}">
    <meta property="og:type" content="radio">
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">
    <meta property="og:image" content="http://weft.org/img/WEFT_Logo_with_mic.jpg">
    <link rel="canonical" href="{{ site.baseurl }}">

    <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/sandbox/showsv2.css">

    <script src="//cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </head>