<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/sandbox/{{ page.title }}.css"><!-- the sandbox page's title shold be the css file name -->
  
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.3.6/slick.css"/>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.3.6/slick.min.js"></script>
  
  <title>WEFT sandbox / {{ page.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="Lorri Coey">
  <meta name="author" content="Bob Paleczny">
  <meta name="author" content="Brian Zelip">
  <meta name="keywords" content="WEFT, community radio, 90.1, Champaign, Urbana, Illinois">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}">
  <meta property="og:type" content="radio">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">
  <meta property="og:image" content="http://weft.org/img/WEFT_Logo_with_mic.jpg">
  <link rel="canonical" href="{{ site.baseurl }}">
</head>