<aside class="pure-u-8-24 aside">

  <p class="aside-title">Upcoming events</p>
  <p class="aside-text"><strong><a href="http://homersodafest.wordpress.com/">Homer Soda Festival</a></strong><br>May 31, 2014, from 10am - 7:30pm</p>
  <p class="aside-text">WEFT airshifters will be pouring soda at a tasting booth.</p> <p class="aside-text">Look for our WEFT t-shirts. Wear yours too!</p>
  <figure>
    <img src="img/Homer_Soda_Festival.jpeg" alt="Homer Soda Festival poster">
  </figure>

  <hr>

  <p class="aside-text"><strong>WEFT Board meeting</strong><br>June 2, 2014, 7pm</p>
  <p class="aside-text">The meeting will take place at Champaign Telephone Company (<a href="https://duckduckgo.com/?q=map+1300+S+Neil+St%2C+Champaign">1300 S Neil St, Champaign</a>). Park and enter the building via the south side of the building.</p>

</aside>