<aside class="pure-u-8-24 aside">

  <p class="aside-title">Upcoming events</p>
  <!--<p class="aside-text"><strong><a href="http://homersodafest.wordpress.com/">Homer Soda Festival</a></strong><br>May 31, 2014, from 10am - 7:30pm</p>
  <p class="aside-text">WEFT airshifters will be pouring soda at a tasting booth.</p> <p class="aside-text">Look for our WEFT t-shirts. Wear yours too!</p>
  <figure>
    <img src="img/Homer_Soda_Festival.jpeg" alt="Homer Soda Festival poster">
  </figure>

  <hr>

  <p class="aside-text"><strong>WEFT Board meeting</strong><br>June 2, 2014, 7pm</p>
  <p class="aside-text">The meeting will take place at Champaign Telephone Company (<a href="https://duckduckgo.com/?q=map+1300+S+Neil+St%2C+Champaign">1300 S Neil St, Champaign</a>). There is a parking lot &amp; entrance on the south side of the building.</p>-->

  <!--<p class="aside-text"><strong>WEFT Associates Meeting</strong><br>Wed., June 4, 2014, 7pm</p>
  <p class="aside-text">The meeting will take place at the Urbana Civic Center (<a href="https://duckduckgo.com/?q=108%20East%20Water%20Street%20Urbana%2C%20IL">108 E Water St.</a>), is free and open to the public.</p>

  <hr>

  <p class="aside-text"><strong><a href="http://bluesbrewsandbbqfest.com">Blues Brews &amp; BBQ Festival</a></strong><br>June 27 &amp; 28, 2014</p>
  <figure>
    <img src="img/bluesbrewsbbq2014.jpg" alt="Blues Brews &amp; BBQ 2014 poster">
  </figure>

  <hr>-->

  <p class="aside-text"><strong>WEFT Board meeting</strong><br>June 30, 2014, 7pm</p>
  <p class="aside-text">The meeting will take place at Champaign Telephone Company (<a href="https://duckduckgo.com/?q=map+1300+S+Neil+St%2C+Champaign">1300 S Neil St, Champaign</a>). The entrance is next to the parking lot on the south side of the building.</p>

  <hr>
  
  <p class="aside-text"><strong>Airshifter Trainings</strong><br>July 1 &amp; 2, 2014, 6pm</p>
  <p class="aside-text">Both airshifter training sessions, along with a <a href="/support/">WEFT membership</a>, are required to have your own show. Trainings take place at WEFT.</p>
  <p class="aside-text">Get a jump start on becoming an Airshifter by <a href="/downloads/WEFT_Airshifter_Training_Application.pdf">downloading the Airshifter application</a>.</p>
  <p class="aside-text">Email <a href="mailto:airshiftertraining@weft.org">airshiftertraining@weft.org</a> for more info.</p>

</aside>